button {
  /* background-color: #ffe3e3; */
  color: #fa5252;
  margin-right: 5px;

  font-size: 12px;
  cursor: pointer;
  border: none;
}

input {
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #fff5f5;
  border: 1px solid #868e96;
}
.AppComponent {
  width: 330px;
  margin: 50px auto;
  padding: 5px;
  border: 1px dotted gray;
}
.habit {
  font-size: 15px;
  margin-bottom: 5px;
  color: grey;
}
.habit-name {
  display: inline-block;
  width: 50%;
  /* 요소 크기 일정하게는 width 지정 */
}
.habit-count {
  display: inline-block;
  background: #868e96;
  color: white;

  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  border-radius: 50%;
}

.habit-button {
}

.habit-button:hover {
  opacity: 0.5;
}
.habit-increment {
  margin-left: 10px;
}
.habit-decrement {
}
.habit-delete {
}
.nav-count {
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.nav-title {
  font-size: 20px;
  font-weight: 800;
}
.nav {
  margin-bottom: 30px;
  background: #ffa8a8;
  padding: 10px 5px;
}
.reset {
  background: grey;
  color: white;
  margin: 10px 5px;
  padding: 5px;
}
